.NavbarContainers {
  background-color: rgb(0 0 0);
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.linkp {
  text-decoration: none;
  color: white;
}

.linkp:hover {
  color: red;
}

.title_star {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}

.title_star:hover {
  color: white;
}

.Textos,
.linkto {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.linkto {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 5px;
  transition: color .3s ease-in;
}

.Textos:hover {
  color: red;
}

.linkto:hover {
  color: red;
}
