/*<----- Estilos para el boton de retroceder ----->*/
.Button_Atras{
    margin-left: 20px;
    margin-top: 15px;
}

/*<----- Estilos para la card ----->*/
.DetallesP{
    margin-top: 25px;
    margin-bottom: 35px;
}

.DetallesP h2{
    text-align: center;
    font-weight: 800;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.DetallesP .Span_{
    text-decoration: underline;
    color: red;
}

/*<----- Estilos del texto para la card de detalles ----->*/
.Content_Text{
    height: 170px;
    overflow-y: auto;
}

.Content_Text::-webkit-scrollbar {
    width: 4px;
}
  
.Content_Text::-webkit-scrollbar-track { 
  background-color: #000;
}
  
.Content_Text::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.card-text{
    color: red !important;
    font-weight: 700 !important;
}

.card-text span{
    color: #fff !important;
}

/*<----- Estilos para la informacion del personaje/planeta ----->*/
.Informacion_Detalles h4{
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.Informacion_Detalles hr{
    border: 2px solid #fff;
}

.InfoDetalle{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
    padding: 0 10px;
}

.InfoDetalle h3{
    grid-column: 1 / 4;
    text-align: center;
    color: #fff !important;
    font-weight: 800;
    margin: 0 auto;
}

.InfoDetalle h3 hr{
    border: 2px solid #fff !important;
}

/*<-------------------- Estilos para los componentes de Detalles -------------------->*/
.DetallesContainer{
    margin-bottom: 35px;
}

/*<-------------------- Estilos para el boton de subir -------------------->*/
.ContentButtonTop{
    padding-bottom: 20px;
}

.scroll-to-top {
    position: absolute;
    right: 3%;
    border: 0;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
}

.IconArrow{
    color: #fff;
}

/*Estilos para la pantalla de carga*/
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .spinner {
    border: 6px solid #3498db;
    border-top: 6px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }