.ContentNavbar{
    background-color: #000 !important;
}

.TitleApi{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}

.MenuApi a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 5px;
    font-weight: 700;
}

.MenuApi a:hover{
    color: #717070;
}