/*Etiqueta h1 HomeApp*/
.h1_text{
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px white;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }